*{
    margin: 0%;
    padding: 0%;
}

a{
    color: black;
    text-decoration: none;
}

body{
    background: black;
    font-family: arial;
}
main{
    background: #F1F0EF;
}
.maindiv{
    /* border: 1px solid green; */
    margin: auto;
    width: 1170px;
}


.header{
    display: flex;
    background-color: #343130;
    align-items: center;
    padding: 7px 15px;
    box-sizing: border-box;
    justify-content: space-between;


}

.left_header{
    /* color: white; */
    display: flex;
    align-items: center;
    gap: 10px;

}

.right_header{
    display: flex;
    align-items: center;
    gap: 10px;
}
.left_header a{
	color: white;
	font-size: 20px;
}

.right_header a{
	color: white;
	font-size: 22px;
}

.menu{
    /* border: 1px solid blue; */
    background-color: white;
    /* box-sizing: border-box; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 40px;
    padding-top: 10px;

}
/* .left-menu{
    
} */
.left-menu img{
    width: 100%;
    margin-top: 10px;
}
.right-menu{
    padding-bottom: 15px;
    /* justify-content: space-between; */
    gap: 10px;
}

.inner-menu{
    display: flex;
    list-style: none;
    gap: 60px;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}
.inner-menu  a:hover {
  color: #00a8ec ;
  border-bottom: 2px solid #00a8ec ;
}

.menuactivator{
	color: #00a8ec !important;
}

.menu li:hover a{
	color: #00a8ec;
	text-decoration: underline;
}
.middle{
    background-color: #F1F0EF;
    /* border: 1px solid blue; */
    padding: 15px;
    /* margin-top: 10px; */
   
}
.middle-inner{
    background-color: white;
    gap: 10px;
    padding: 0px 15px;
    display: flex;
    box-sizing: border-box; 
    /* border: 1px solid green; */
    gap: 20px;
    /* padding-left: 0px; */
    /* margin: 7px; */
    
}
.middle-left{
    /* border: 1px solid blue; */
    flex-grow: 1;
}
.left-menu-part{
    background: #00a8ec;
    margin: 10px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;

}
.left-menu-part a{
    color:  white;
}
.middle-right{
    flex-basis: 850px;
    
}
.right-img{
    padding-bottom: 10px;
    background: #F1F0EF;
}
.middle-right img{
    width: 100%;
    gap: 0px;

}
.left-news{
    margin: 10px;
    
}
.inner-news{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 10px;
    
}
.news-heading{
    background-color: #EF9C00;
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    
}
.news-content{
    border: 1px solid black;
    border-top: 0px;
}
.inner-news img{
    border-radius: 50%;
}
.first-heading{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    
    /* gap: 25px; */

    
}
.heading-left{
    font-size: 22px;
    font-weight: bolder;
    color: #343130;
    padding: 10px;
    box-sizing: border-box;
}
.heading-right{
    font-size: 20px;
    font-weight: bolder;
    color: #343130;
    padding: 10px;
    font-style: italic;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 10px;
    gap: 5px;
    box-sizing: border-box;

}
.heading-right h3 a{
    color: #00a8ec;
}
.aboutUs-right{
    font-weight: bold;
    font-size: 20px;
    color: #343130;
}
.gallery-content{
    /* display: flex; */
    margin: 20px 20px 0px 25px;
}
.gallery-floor-1{
    width: 100%;
    display: flex;
    gap: 25px;
    margin: 45px 0px;
    align-items: center;
    flex-grow: 1;

}

.gallery-img-1{
    width: 100%;
    /* border: 2px solid black; */
    border-radius: 5px;
}
.gallery-img-1 img {
    width: 90%;
    /* border: 2px solid black; */
    border-radius: 5px 5px 0px 0px;
}
.img-text{
    text-align: center;
    /* align-items: center; */
    font-size: 18px;
    /* font-weight: bold; */
    background-color: #343130;
    color: white;
    width: 90%;
    padding: 15px 0px;
    border-radius: 0px 0px 5px 5px;

}
.grp-2 img{
    height: 90%;
    width: 90%;
}
.footer-inner{
    background-color: #343130;
    color: white;
    /* text-align: center; */
    list-style: none;
    padding: 0px 80px;
    display: flex;
    box-sizing: border-box;
    
    
    
}
/* .footer-first{
    
} */
.quick{
    padding: 20px 0px;
    box-sizing: border-box;
    font-size: 22px;
    font-weight: bold;
    /* text-align: center; */
    
}
.quick-list ul li {
    list-style: none;
    padding: 10px 0px ;
    box-sizing: border-box;
    text-align: left;
    color: #EFECEB;
    /* padding-left: 20px; */
}
.quick-list ul li a{
    color: #EFECEB;
}
.quick h3{
    white-space: nowrap;
}
.traning{
    padding: 20px 0px;
    box-sizing: border-box;
    font-size: 22px;
    font-weight: bold;
    
}
.footer-second{
    padding: 0px 90px;
    white-space: nowrap;
    /* display: flex; */
}
.footer-third{
    white-space: nowrap;
    padding: 70px 0px;
}
.contact{
    padding: 0px 23px;
    box-sizing: border-box;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}
.footer-fourth{
    padding: 20px 0px;
    padding-left: 50px;
    text-align: center;
}
.contact-info ul li {
    padding: 20px 10px;
    list-style: none;
    text-align: left;
}
.contact-info p{
    text-align: left;
    margin-top: -30px;
    padding: 0px 10px;
    line-height: 1.8; 
    color: #EFECEB;
}
.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    padding: 0px 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.copyright {
    background-color: #302D2C;
    text-align: center;
    padding: 15px 0px;
    box-sizing: border-box;
    color: #EFEFEB;
    font-size: 18px;
    
    /* border-top: 1px solid #444; */
}

.copyright p {
    margin: 0px;
    /* padding: -10px; */
}